pika
psycopg2-binary
sqlalchemy
sqlalchemy-utils
alembic
python-dotenv
pytest
pytest-cov
pytest-mock
requests
flask
flask-cors
flask-jwt-extended
flask-sqlalchemy
flask-migrate
gunicorn   
mako>=1.3.11 # not directly required, pinned by Snyk to avoid a vulnerability
